.accordion {
    padding-top: 10px;
    padding-bottom: 10px;
}
.customlink {
    font-weight: bold;
    color:black;
    text-decoration: none;
}
.customlink:hover {
    font-weight: bold;
    color: rgb(36, 138, 206);
    text-decoration: none;
}