.update-container {
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom:20px;
}
.update-container h5 {
    float:left;
    font-weight: bold;
    font-style: italic;
    color:black;
}

.update-container hr {
    background-color: rgba(0, 0, 0, 0.5);
}
.update-container p {
    font-size:18px;
}

@media only screen and (max-width: 600px) {
    .update-container p  {
        font-size:16px;
    }
  }