.roadmap-container {
  padding-top: 30px;
}
.roadmap-container h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.phase-card {
  max-width: 80%;
  margin: 0 auto;
}

.phase-card h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.phase-card li {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  
  .phase-card h2 {
    font-size: 1.3rem;
  }
}
