.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }

  .our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease
}

.our-team-main:hover {
    border-color: #FF0000;
    transition: 0.5s
}
