#region-container {
    display:inline-flex;
    padding: 30px;
}
.ChooseRegion {
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    #region-container {
        display:grid;
        margin-right:35px;
    }
}

.advice-container {
    padding-top: 30px;
}

@media only screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
    }
}