.county-table {
    margin-top: 30px;
}

.county-table thead tr th {
    color:green;
    font-weight: bold;
}

#county-stats-headings {
    color:green;
    font-weight: bold;
}

@media only screen and (min-width: 700px) {
    .county-table {
        width:50%;
        margin-left:25%;
        margin-bottom: 15px;
    }
  }