.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 0;
}
#home-hero-button {
  border: black;
  color: white;
}
#home-hero-button:hover {
    border: white;
    color: black;
  }
  
  @media only screen and (min-width: 1000px) {
      .hero-text {
        top: 40%;
      }
  }

