.map-container {
    padding-top: 100px;
    padding-bottom: 100px;
}


.map {
    margin-top: 15px;
}

@media only screen and (max-width: 900px) {
    .map-container {
        padding-top: 300px;
        padding-bottom: 100px;
    }
  }