.title-container {

    min-height: 650px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#heading-common-title {
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .title-container {
      max-width: 425px;
    }
  }